/* *{
    font-family: 'Qwitcher Grypen', cursive;

} */
body{
    background-color: rgb(118, 119, 119);
    border-width: 0px;
    margin-top: 0px;
    padding-top: 0px;
}
.hola{
    color: #fcc603;
    background-color: rgb(255, 255, 255);
    text-align: center;
    /* padding: 20px; */
    /* border-color: 5px solid #fcc603; */
    margin-top: -20px;
}

h2{
    font-size: 50px;
    font-family: 'Qwitcher Grypen', cursive;

}
.imagen{
    width: 300px;
    height: auto;
    border-radius: 15px 0px 30px 55px;
}
.divimagen{
    margin-left: 40%;
}
.iframe{
    width: 300px;
    height: 500px;
}
.container{
    background: radial-gradient(circle, rgba(9,121,20,1) 9%, rgba(4,169,111,1) 43%, rgba(0,212,255,1) 100%);
    width: 350px;
    height: 350px;
    padding-top: 30px;
}
#imagenprod{
    width: 350px;
}
.padre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
#card{
margin-left: 15%;
}
.cart{
    width: 25px;
    height: auto;
    
}
button
{
    position: absolute;
}